{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Hetel_v.2</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static "homepage/reset.css" %}">
	<link rel="stylesheet" href="{% static "homepage/indexStyle.css" %}">	
</head>
<body>
	<div class="background"></div>		
		<div class="menu">
			<a href="/booking">Заселить гостя</a>
			<a href="/floorView">Вид этажей</a>
			<a href="/employee">Добавить сотрудника</a>
			<a href="/employee/list">Посмотреть список сотрудников</a>
			<a href="/position">Работа с должностями</a>
			<a href="/employee/list_deleted">Посмотреть список уволенных сотрудников</a>
			<a href="/booking/clientsList">Посмотреть список жильцов</a>
			<a href="/booking/clientsList_all">Посмотреть список жильцов за все время</a>
		</div>				
</body>
</html>