{% extends "../base.html" %}
{%  load static %}

{% block title %}
	<title>Список уволенных сотрудников</title>	
{% endblock %}

{% block link_script %}
	<link rel="stylesheet" type="text/css" href="{% static 'employee/employeeList.css' %}">
{% endblock %}

{% block content %}
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Фамилия Имя Отчество</th>
	      <th scope="col">Должность</th>
	      <th scope="col">Место жительства</th>
	      <th scope="col">Дата устройства на работу</th>
	      <th scope="col">Дата увольнения</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for employee in employees %}
		  	<tr class="employee">
				<th scope="row">{{employee.employee_id}}</th>
		      	<td>{{employee.surname}} {{employee.first_name}} {{employee.patronymic}}</td>
		      	<td>{{employee.position_name}}</td>
		      	<td>{{employee.adress}}</td>
		      	<td>{{employee.employment_data}}</td>
		      	<td>{{employee.firing_data}}</td>
		    </tr>
		{% endfor %}
	  </tbody>
	</table>	
	<div class="info"></div>
{% endblock %}